
.section-about {
    background-color: $color-grey-light-1;
    padding: 25em;
    margin-top: -20vh;

    @include respond(tab-port) {
        padding: 20em 0;
    }
}

.section-features {
    padding: 20rem 0;
    margin-top: -15rem;

    background-image: linear-gradient(
        to right bottom, 
        rgba($color-primary-light, 0.8),
        rgba($color-primary-dark, 0.8)),
         url('../img/nat-4.jpg');
    background-size: cover;

    // skew design of background
    transform: skewY(-7deg); // - 逆时针旋转

    // select direct child
    & > * { 
        transform: skewY(7deg);
    }

    @include respond(tab-port) {
        padding: 10em 0;
    }

}

.section-tours {
    background-color: $color-grey-light-1;
    padding: 25em 0 15rem 0;
    margin-top: -10rem;
    // height: 95vh;

    @include respond(tab-port) {
        padding: 20em 0 10 rem 0;
    }

}

.section-stories {
    
    padding: 15rem 0;
    // background-color: $color-grey-light-1;
    position: relative;

    @include respond(tab-port) {
        padding: 10em 0;
    }
}

.section-book {
    padding: 15rem 0;
    background-image: linear-gradient(to right bottom, $color-primary-light, $color-primary-dark);
}

.book {
    background-image: linear-gradient(105deg, rgba($color-white, 0.9) 0%,
                                              // 这两个颜色都需要设置一个作为白色的终止点，一个作为背景图的开位置
                                              rgba($color-white, 0.9) 50%,
                                              transparent 50%  
        ), url(../img/nat-10.jpg);
    background-size: 100%;
    // 构造shape

    border-radius: 3px;
    box-shadow: 0 1.5rem  4rem rgba($color: $color-black, $alpha: 0.2);

    @include respond(tab-land) {
        background-image: linear-gradient(105deg, rgba($color-white, 0.9) 0%,
                // 这两个颜色都需要设置一个作为白色的终止点，一个作为背景图的开位置
                rgba($color-white, 0.9) 65%,
                transparent 65%  
        ), url(../img/nat-10.jpg);

        background-size: cover;

    }

    @include respond(tab-port) {
        background-image: linear-gradient(to right, rgba($color-white, 0.9) 0%,
                // 这两个颜色都需要设置一个作为白色的终止点，一个作为背景图的开位置
                rgba($color-white, 0.9) 0%,
                rgba($color-white, 0.9) 100%
        ), url(../img/nat-10.jpg);

        background-size: cover;

    }


    &__form {
        width: 50%;
        padding: 6rem;
        @include respond(tab-land) {
            width: 65%;
        }
        @include respond(tab-land) {
            width: 100%;
        }
    }
}